.select-component {
  position: relative;
}

.select {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.8rem;
  align-items: center;
  padding: 1.2rem;
  max-width: 100%;
  background-color: #343a40;
  color: #f8f9fa;
  border: 1px solid #343a40;
  border-radius: 0.8rem;
  cursor: pointer;
}

.select:hover {
  box-shadow: 0 0 0 0.1rem #868e96;
}

.arrow {
  width: 1.2rem;
}

.select span {
  font-size: 1.4rem;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
  border-radius: 0.8rem;
  border: 1px solid #343a40;
  z-index: 999;
  overflow: hidden;
}

.option {
  display: flex;
  gap: 0.8rem;
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  padding-right: 12rem;
  background: #212529;
  cursor: pointer;
}

.option:hover {
  background-color: #343a40;
  cursor: pointer;
}
