.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.border {
  flex-grow: 1;
  height: 1px;
  background-color: #495057;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-height: 25rem;
  overflow-y: auto;
}
