.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 1.2rem 0.6rem;
  height: auto;
  overflow: auto;
  padding: 2.4rem;
  background-color: #343a40;
  border-radius: 1.5rem;
}
