@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  color: #f8f9fa;
  background-color: #212529;
}

.Marvel,
.marvel {
  background: url("./assets/img/MarvelSeries.31d10f98.png");
  background-position: 50%;
  background-size: cover;
  border: 1px solid #d80304;
}

.Icon,
.icon {
  background: url("./assets/img/CreatorCollabSeries.a438429c.png");
  background-position: 50%;
  background-size: cover;
  border: 1px solid #1be2e5;
}

.Gaminglegends,
.gaminglegends {
  background: url("./assets/img//GamingLegends.797a8bc8.png");
  background-position: 50%;
  background-size: cover;
  border: 1px solid #9775fa;
}

.Lava,
.lava {
  background: url("./assets/img/Lava_Series_Rarity_Locker_Texture.webp");
  background-position: 50%;
  background-size: cover;
  border: 1px solid #f68b20;
}

.Starwars,
.starwars {
  background: url("./assets//img//ColumbusSeries.9993eea7.png");
  background-position: 50%;
  background-size: cover;
  border: 1px solid #ffaf00;
}

.Legendary,
.legendary {
  background: radial-gradient(circle, #ff960e, #851400);
  border: 1px solid #f68b20;
}

.Epic,
.epic {
  background: radial-gradient(circle, #9d19ff, #4c07a6);
  border: 1px solid #845ef7;
}

.Rare,
.rare {
  background: radial-gradient(circle, #2cc0ff, #143877);
  border: 1px solid #339af0;
}

.Uncommon,
.uncommon {
  background: radial-gradient(circle, #30ce00, #005800);
  border: 1px solid #51cf66;
}

.border {
  flex-grow: 1;
  height: 1px;
  background-color: #495057;
}
